.Weather > *{
    font-weight: 400;
    flex:1;
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.Weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
@media screen and (min-width: 1024px){
    .Weather{
        height: 250px;
    }
}